<section class="resume-section education-section mb-5">
  <h2
    class="
      resume-section-title
      text-uppercase
      font-weight-bold
      pb-3
      mb-3
    "
  >
    Education
  </h2>
  <div class="resume-section-content">
    <ul class="list-unstyled">
      <li class="mb-2">
        <div class="resume-degree font-weight-bold">
          Systems Engineer
        </div>
        <div class="resume-degree-org">Corporación Universitaria Empresarial de Salamanca · CUES</div>
        <div class="resume-degree-time">2021 - Present</div>
      </li>
      <li>
        <div class="resume-degree font-weight-bold">
          Software Developer
        </div>
        <div class="resume-degree-org">Corporación Universitaria Empresarial de Salamanca · CUES</div>
        <div class="resume-degree-time">2018 - 2021</div>
      </li>
    </ul>
  </div>
</section>
